{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title %}{{ ipe_title_tag_od(app.request, (add_query_params is defined)? add_query_params: false, {}, false) }}{% endblock title %}

{% block head %}

    {% block metas %}{{ ipe_meta_tags_od(app.request, (add_query_params is defined)? add_query_params: false, {}, false) }}{% endblock metas %}

    {% if is_granted('ROLE_IPE_EDITOR') %}
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" type="text/css" rel="stylesheet" media="screen" />
    {% endif %}
    {{ parent() }}

{% endblock head %}

{% block body_start %}
{% if is_granted('ROLE_IPE_EDITOR') %}
<div id="ipe-navbar">
    {# render(controller('MuchoMasFacilInPageEditBundle:IPE:_navbar', {'locale': my_custom_ipe_locale, 'template': my_custom_navbar_template})) #}
    {{ render(controller('MuchoMasFacilInPageEditBundle:IPE:_navbar', {'root_request': app.request})) }}
</div>

{% endif %}
{% endblock body_start %}


{% block content_header_more %}
    {{ parent() }}
    <li>{{ app.request.locale }} -- logged in as <strong>{{ app.user ? app.user.username : 'Anonymous' }}</strong> - <a href="{{ path('_demo_logout') }}">Logout</a></li>
{% endblock content_header_more %}

{% block content %}

<textarea data-w-flavor="tinymce4_default" name="tinymce">&lt;p&gt;Initial value.&lt;/p&gt;</textarea>

<textarea data-w-flavor="ckeditor4_default" name="ckeditor">&lt;p&gt;Initial value.&lt;/p&gt;</textarea>

{% if is_granted('ROLE_IPE_EDITOR') %}
{# it is not required the use of assetic but as we get a bunch of external libraries... #}
    {% javascripts
        'http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'
        'http://rawgithub.com/jquery/jquery-ui/1.10.2/ui/jquery.ui.core.js'
        'http://rawgithub.com/jquery/jquery-ui/1.10.2/ui/jquery.ui.widget.js'
        'http://rawgithub.com/jquery/jquery-ui/1.10.2/ui/jquery.ui.mouse.js'
        'http://rawgithub.com/jquery/jquery-ui/1.10.2/ui/jquery.ui.sortable.js'
        'http://rawgithub.com/malsup/form/master/jquery.form.js'
        'http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js'
        'http://rawgithub.com/malsup/blockui/master/jquery.blockUI.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.2/ckeditor.js"></script>
    <script src="{{ asset('http://rawgithub.com/ckeditor/ckeditor-releases/stable/standard/adapters/jquery.js')}}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/muchomasfacilinpageedit/js/jquery.htmlAjaxHelper.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/muchomasfacilinpageedit/js/ipe.js') }}"></script>
<script>
//It's as simple as calling: Routing.generate('route_id', /* your params */).

//Or if you want to generate absolute Url: Routing.generate('route_id', /* your params */, true).

$(function() {

    $('[data-w-flavor]').each(function () {
        var selector = '[name=' + $(this).attr('name') + ']';
        var flavor = $(this).attr('data-w-flavor');
        $.getScript(Routing.generate('_wysiwyg', {'selector': selector, 'flavor_key': flavor, 'loquesea': 'mas parametros'}));
    });

});
</script>

{% endif %}

{% endblock content %}