{% extends "AcmeDemoBundle:IpeDemo:layout.html.twig" %}

{% block content %}
    <h1>WysiwygBundle demo page</h1>

    <h2>A ckeditor4 from textarea</h2>
        <textarea data-w-flavor="ckeditor4_elfinder" name="ckeditor">&lt;p&gt;Initial value.&lt;/p&gt;</textarea>
        <hr>
    <h2>A tinymce4 from textarea</h2>
        <textarea data-w-flavor="tinymce4_elfinder" name="tinymce">&lt;p&gt;Initial value.&lt;/p&gt;</textarea>
        <hr>
    <h2>A el finder input</h2>
        <input data-ef-input-connector="images" type="text" name="file_browser" value="loque sea">
        <hr>
    <h2>elFinder inline</h2>
        <div id="elfinder" data-ef-connector="images"></div>
        <hr>    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.2/ckeditor.js"></script>
    <script src="{{ asset('http://rawgithub.com/ckeditor/ckeditor-releases/stable/standard/adapters/jquery.js')}}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

{{ include('MuchoMasFacilWysiwygBundle:ElFinder:javascripts.html.twig') }}

{{ include('MuchoMasFacilWysiwygBundle:ElFinder:stylesheets.html.twig') }}


    <script>
        //It's as simple as calling: Routing.generate('route_id', /* your params */).

        //Or if you want to generate absolute Url: Routing.generate('route_id', /* your params */, true).

        $(function() {

            $('[data-w-flavor]').each(function () {
                var selector = '[name=' + $(this).attr('name') + ']';
                var flavor_key = $(this).attr('data-w-flavor');
                var route = Routing.generate('_wysiwyg', {'selector': selector, 'flavor_key': flavor_key});                
                $.getScript(route);
            });

            $('[data-ef-connector]').each(function () {
                var selector = '#' + $(this).attr('id');
                if (typeof $(this).attr('data-ef-flavor') === "undefined") {
                    var flavor_key = 'default';
                }
                else {
                    var flavor_key = $(this).attr('data-ef-flavor');
                }
                var connector_key = $(this).attr('data-ef-connector');                
                var route = Routing.generate('_elfinder', {'selector': selector, 'elfinder_flavor_key': flavor_key, 'elfinder_connector_key': connector_key});
                $.getScript(route);
            });

            $('[data-ef-input-connector]').each(function () {
                var connector_key = $(this).attr('data-ef-input-connector');                
                var route = Routing.generate('_elfinder_standalone', {'elfinder_flavor_key': 'input', 'elfinder_connector_key': connector_key, 'input_name': $(this).attr('name')});
                var button = $('<button class="btn"><i class="icon-folder-open"></i></button>')
                    .click(function() {
                        window.open(route, '_elfinder', 'width=800,height=420'); 
                        return false;
                    });
                $(this).after(button);                    
            });

        });
    </script>

    {{ parent() }}
{% endblock %}

{% set code = code(_self) %}
